networks: 
  monitoring:
    driver: bridge

volumes:
  prometheus_data: {}
  grafana_data: {}
  redis_data: {}
  rabbitmq_data: {}

services:
  prometheus:
    image: prom/prometheus:v2.20.1
    container_name: prometheus
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:7.1.5
    container_name: grafana
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    ports:
      - "3000:3000"
    networks:
      - monitoring

  redis:
    image: redis:7
    container_name: redis_cache
    restart: always
    ports:
      - "6379:6379"
    environment:
     - REDIS_HOST=redis
     - REDIS_PORT=6379
    volumes:
      - redis_data:/data
    command: ["redis-server", "--save", "60", "1", "--loglevel", "warning"]
    networks:
      - monitoring

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_broker
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - monitoring

  node-application-monitoring-app:
    image: mundo-facil/api:latest
    build:
      context: ./ApiMundoFacil
      dockerfile: Dockerfile
    container_name: ApiMundoFacil
    working_dir: /app
    volumes:
      - ./ApiMundoFacil:/app
    restart: always
    env_file:
      - ./ApiMundoFacil/.env.docker
    ports:
      - "5050:5050"
    depends_on:
      - redis
      - rabbitmq
    networks:
      - monitoring